<section>
  <div class="page-header">
    <h1>Kitties</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="kitty in vm.kitties"
       ui-sref="kitties.view({ kittyId: kitty._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="kitty.created | date:'mediumDate'"></span>
        by
        <span ng-if="kitty.user" ng-bind="kitty.user.displayName"></span>
        <span ng-if="!kitty.user">Deleted User</span>
      </small>
      <hr>
      <h4 class="list-group-item-heading" ng-bind="kitty.name0"></h4>
      <span ng-bind="(kitty.name1)"></span>
      <span class="text-info"> {{kitty.catagory}} </span>
      <p>Tags: <strong><span ng-bind="kitty.tag"></span><strong></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.kitties.$resolved && !vm.kitties.length">
    No Kitties yet, why don't you <a ui-sref="kitties.create">create one</a>?
  </div>
</section>
